---
layout: default
category: 0
img: "http://dbuggen.s3.amazonaws.com/shayans-macbook.jpg"
---

<main class="issue-list issue-0">
    <div class="social-media">
      {% for icon in site.data.social.generic %}
        <div class="social-icon">
          <a class="{{ icon.class }}" href="{{ icon.url }}">
            {% include {{ icon.class | prepend: 'assets/' | append: '.svg' }} %}
            <span style="visibility: hidden">{{ icon.title }}</span>
          </div>
        </a>
      {% endfor %}
    </div>
    <nav>
        <a href="/redaqtionen">Redaqtionen</a> /
        <a href="/podcast">Podcast</a>
    </nav>
    <div class="text main-listing">
    {% for issue in site.data.issues reversed %}
      <div class="issue">
        {% if issue.number and issue.number != 2 and issue.number != 7 %}
          <h2 class="issue-name">
            <a href="/issues/{{ issue.number }}">{{ issue.name }}</a>
          </h2>
          {% if issue.date %}
            <h5 class="issue-date">
              {{ issue.date }}
            </h5>
          {% endif %}
          <p>{{ issue.description }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</main>
