---
layout: default
category: 0
img: "http://dbuggen.s3.amazonaws.com/shayans-macbook.jpg"
---

<main class="issue-list issue-0">
    <nav>
        <a href="/redaqtionen">Redaqtionen</a> /
        <a href="/podcast">Podcast</a>
    </nav>
  <div class="text">
    {% for issue in site.data.issues reversed %}
      <div class="issue">
        {% if issue.number %}
          <h2 class="issue-name">
            <a href="/issues/{{ issue.number }}">{{ issue.name }}</a>
          </h2>
          {% if issue.date %}
            <h5 class="issue-date">
              {{ issue.date }}
            </h5>
          {% endif %}
          <p>{{ issue.description }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</main>
