<footer class="colophon site-footer issue-{{ page.category }}">
  <p>
    dbuggen en extremt seriös tidning producerad av Redaqtionen, en ideell förening på Datasektionen - KTH.<br>Är du en sån som likear saker så finns vi även på <a href="https://www.facebook.com/dbuggen/">Facebook</a>, <a href="https://www.instagram.com/dbuggen/">Instagram</a> och <a href="https://www.snapchat.com/add/dbuggen">Snapchat</a>.
  </p>
  <p>
    Vår webbplats är gjord med <span class="theme issue-{{ page.category }}">&hearts;</span> av <a href="https://aronstrandberg.com/">Aron Strandberg</a> i Stockholm.
  </p>
</footer>
