$black: #141312;
$white: #fff;


body {
  color: #333;
  background: #fff;
  font-weight: 400;
  margin: 0 auto;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// images
img {
  &:not([width]) {
    width: 100%;
    height: auto;
  }
  max-height: 50vh;
  object-fit: cover;
  object-position: 50% 50%;
  margin: 2em auto;
  text-align: center;
  &:not(.svg) {
    background: url("/assets/checkers.png");
  }
  &.no-crop, &.svg {
    max-height: none;
  }
}
.subtitle {
  margin-top: -3em;
}

.symbol {
  vertical-align: middle;
}

// quotes
blockquote {
  font-size: 1.25em;
  margin: 0 auto;
  width: 90%;
  @include max-width(600px) {
    width: 100%;
  }
}

blockquote p {
  font-style: italic;
  border-left: 10px solid #333;
  padding: 0.4em 20px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote p:before {
  content: open-quote;
}

blockquote p:after {
  content: close-quote;
}

// lists
ul {
  font-size: 1.15rem;
  list-style-type: "– ";
  list-style-position: outside;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

li {
  margin: 1em 0;
}

table {
  margin: 1em auto;
}

// misc
::selection {
  color: #fff;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 100%;
  height: 5px;
  background: rgba($black, 0.1);
  border: 0;
  margin: 0 auto 1em;
}

.author {
  text-align: center;
}

.small-image {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}