// future fonts:
// "brandon-grotesque";
// "rooney-sans";

// future colors:
// #f54785
// #0E8893
// #F3DD77

@mixin theme($name, $font, $color, $subtext:$black, $headers:$color) {
  .#{$name} {
    @include link($headers);
    font-family: $font, $base-font;
    ::selection {
      @if $color == $white {
        background-color: $black;
      } @else {
        background-color: $color;
      }
      color: $white;
    }
    .theme {
      @if $color == $white {
        color: $black;
      } @else {
        color: $color;
      }
    }
  }
  .#{$name}.site-header {
    @include link($color);
    p {
      background: $color;
      color: $subtext;
    }
  }
  .#{$name}.site-banner {
    @include link($subtext);
    background: $color;
    color: $subtext;
  }
  .#{$name}.site-footer {
    @if $color == $black {
      @include link($white);
    } @else {
      @include link($color);
    }
    color: $white;
    a {
      border-bottom: 2px dotted $subtext;
    }
  }
  .#{$name}.social-media {
    margin-bottom: 1em;
    .cls-1 {
      fill: $black;
    }
    .social-icon:hover .cls-1 {
      fill: $color;
    }
  }
}

@include theme("issue-0", "futura-pt", #f54785, $black);
@include theme("issue-redaqtionen", "ff-tisa-sans-web-pro", $white, $black);
@include theme("issue-podcast", "ff-tisa-sans-web-pro", #FF5268);
@include theme("issue-99", "rooney-web", #008dec);
@include theme("issue-1", "futura-pt", #ff7243);
@include theme("issue-2", "rooney-web", #e2007f, $white);
@include theme("issue-3", "source-sans-pro", #ac6188);
@include theme("issue-4", "expo-sans-pro", #ffcb00);
@include theme("issue-5", "ff-tisa-sans-web-pro", #ff1947);
@include theme("issue-6", "prestige-elite-std", $white, $black, $black);
@include theme("issue-7", "rooney-web", #e2007f, $white);
@include theme("issue-8", "proxima-nova-soft", #d55976, $white);
@include theme("issue-9", "expo-sans-pro", #72AAB3, $white);
@include theme("issue-10", "proxima-nova-soft", #CD9EF5, $white);
@include theme("issue-11", "ff-tisa-sans-web-pro", #A2D1C6, $white);
@include theme("issue-12", "filson-soft", #4C77B8, $white, #E0ED09);
@include theme("issue-13", "ff-tisa-sans-web-pro", #FFF000, $white);
@include theme("issue-14", "bernhard-gothic-urw", #8F0101, $white);
@include theme("issue-15", "expo-sans-pro", #ffcb00);
@include theme("issue-16", "ff-tisa-sans-web-pro", #ac6188);
@include theme("issue-17", "rooney-web", #ffcb00);
@include theme("issue-18", "proxima-nova-soft", #CD9EF5, $white);
@include theme("issue-19", "ff-tisa-sans-web-pro", #ac6188);
@include theme("issue-20", "ff-tisa-sans-web-pro", #ac6188);
@include theme("issue-21", "filson-soft", #E0E75D, $white, #AD3366);
@include theme("issue-22", "rooney-web", #ffcb00);
@include theme("issue-23", "ff-tisa-sans-web-pro", #ac6188);
@include theme("issue-24", "ff-tisa-sans-web-pro", #4C73DD);
@include theme("issue-25", "filson-soft", #5330e1, #accf1e);
