// future fonts:
// "brandon-grotesque";
// "rooney-sans";

// future colors:
// #f54785

$black: #141312;
$white: #fff;

@mixin theme($name, $font, $color, $subtext:$black) {
  .#{$name} {
    @include link($color);
    font-family: $font, $base-font;
    ::selection {
      background-color: $color;
      color: $white;
    }
    .theme {
      color: $color;
    }
  }
  .#{$name}.site-header {
    @include link($color);
    p {
      background: $color;
      color: $subtext;
    }
  }
}

@include theme("issue-0", "pt-sans", $black, $white);
@include theme("issue-redaqtionen", "rooney-web", #F7E9AA, $black);
@include theme("issue-podcast", "ff-tisa-sans-web-pro", #FF5268);
@include theme("issue-99", "rooney-web", #008dec);
@include theme("issue-1", "futura-pt", #ff7243);
@include theme("issue-2", "rooney-web", #e2007f, $white);
@include theme("issue-3", "source-sans-pro", #ac6188);
@include theme("issue-4", "expo-sans-pro", #ffcb00);
@include theme("issue-5", "ff-tisa-sans-web-pro", #ff1947);
@include theme("issue-6", "ff-tisa-sans-web-pro", $black);
