main {
  margin: 2em auto;
}

.text {
  margin: 0 auto;
  width: 80%;
  text-align: left;

  p, ul, ol {
    width: 90%;
  }
  @include max-width(600px) {
    hyphens: auto;
    text-align: justify;
    width: 100%;
  }
  @include min-width(800px) {
    p, ul, ol, hr {
      max-width: 700px;
    }
  }
}

.issue-list {
  text-align: center;

  .text {
    font-size: 1.5em;
    margin: 0 auto;

    p {
      width: 95%;
      margin: 1em auto;
    }

    .issue-name {
      font-size: 2em;
      margin: 1em auto 0;
    }
    @include min-width(900px) {
      width: 60vw;
    }
    @include max-width(900px) {
      font-size: 1.25em;
      width: 95%;
    }
  }

  nav {
    font-size: 2rem;
  }
}

article + article {
  border-top: 5px solid #222;
  padding: 5rem 0;
}

.site-header {
  margin: 0 auto;

  p {
    margin: 1em auto;
    padding: 1em;
  }

  h1 {
    width: 100%;
    margin: auto;
  }

  .logo.header-image {
    padding: 8vh 0;

    h1 {
      padding: 25px 0;
    }
  }

  .header-image {
    background-position: center 70%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.two-columns {
  columns: 2 500px;
  column-cap: 1em;
  column-rule: 1px dotted #ccc;
}

.audiojs {
  margin-left: auto;
  margin-right: auto;
}

.main-listing {
  text-align: center;

  p {
    text-align: center;
  }
}

.social-media {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.social-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.instagram-media {
  margin: 1em auto !important;
  background: #FFF;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
  margin: 1px;
  max-width: 658px;
  padding: 0;
  width: 99.375%;
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);

  > div {
    padding: 8px;

    > div {
      background: #F8F8F8;
      line-height: 0;
      margin-top: 40px;
      padding: 56.481481481481474% 0;
      text-align: center;
      width: 100%;

      > div {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC");
        display: block;
        height: 44px;
        margin: 0 auto -44px;
        position: relative;
        top: -22px;
        width: 44px;
      }
    }

    > p {
      color: #c9c8cd;
      font-family: Arial,sans-serif;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 0;
      margin-top: 8px;
      overflow: hidden;
      padding: 8px 0 7px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;

      > a {
        color: #c9c8cd;
        font-family: Arial,sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 17px;
        text-decoration: none;
      }

      > time {
        font-family: Arial,sans-serif;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}
