main {
  margin: 3em auto;
}

.text {
  margin: 0 auto;
  width: 100%;
  text-align: justify;
  p {
    width: 90%;
  }
  @include max-width(600px) {
    hyphens: auto;
  }
  @include min-width(800px) {
    p, ul, ol, li, hr {
      width: 80%;
      max-width: 900px;
    }
  }
}

.issue-list {
  .text {
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    p {
      width: 95%;
      margin: 1em auto;
    }
    .issue-name {
      font-size: 2em;
      margin: 1em auto 0;
    }
    @include min-width(900px) {
      width: 60vw;
    }
    @include max-width(900px) {
      font-size: 1.25em;
      width: 95%;
    }
  }
  nav {
    font-size: 2rem;
  }
}

article + article {
  border-top: 5px solid #222;
  padding: 5rem 0;
}

.site-header {
  margin: 0 auto 2em;
  p {
    margin: 1em auto;
    padding: 1em;
  }
  h1 {
    width: 100%;
    margin: auto;
  }
  .logo.header-image {
    padding: 8vh 0;
    h1 {
      padding: 25px 0;
    }
  }
  .header-image {
    background-position: center 70%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.two-columns {
  columns: 2 500px;
  column-cap: 1em;
  column-rule: 1px dotted #ccc;
}

.colophon {
  @media print {
    display: none;
  }
}

.audiojs {
  margin-left: auto;
  margin-right: auto;
}
