@mixin link($color) {
  article p a {
    padding: 5px;
    background: $color;
    color: #fff;
    &:visited {
      background: $color;
      color: #fff;
    }
    &:hover {
      background: invert($color);
      color: #fff;
    }
  }
  a {
    color: $color;
    position: relative;
    text-decoration: none;
    &:visited {
      color: $color;
    }
    &:hover {
      color: invert($color);
    }
    &:active {
      top: 3px;
      color: invert($color);
    }
  }
}
