$base-font: "Roboto", "Helvetica", sans-serif;

body {
  font-family: $base-font; // fallback
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  width: 90%;
  margin: 1em auto;
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 3rem;
  // font-weight: 700;
  text-align: center;
}

em {
  font-style: italic;
  font-weight: 400;
}

b {
  font-weight: 600;
}

.site-header {
  font-size: 1.25em;
  h1 {
    font-size: 20vw;
    @include min-width(600px) {
      font-size: 12vw;
    }
    @media print {
      font-size: 8vw;
    }
  }
}

.issue {
  margin: 10rem auto;
}

.issue-name {
  margin: 0 auto 5rem;
  h1 {
    font-size: 7.5vw;
    margin-top: 0;
  }
}

.post-header {
  h1 {
    margin-bottom: 0;
  }
  .tags {
    font-style: italic;
  }
  p {
    margin: 0.5em auto;
  }
}

header {
  text-align: center;
}

article {
  text-align: justify;
  margin: 5em auto;
}

article p {
  font-size: 1.25em;
  line-height: 1.6;
  margin: 1em auto;
}

@include max-width(600px) {
  q {
    font-size: 0.5em;
  }
}

.big {
  font-size: 2em;
}
