// .issue-redaqtionen.site-header {
//     p {
//         color: $white;
//     }
//     ::selection {
//         color: $black;
//     }
// }

.redaqtionen {
    font-family: "rooney-web";
    .about {
        margin-bottom: 5em;
    }
    .member {
        display: inline-block;
        margin-bottom: 3em;
    }
    img.redaqtionen-member-image {
        width: 200px;
        height: 200px;
        max-height: 100vh;
        object-fit: cover;
        border-radius: 50%;
        margin-left: 1em;
        margin-right: 1em;
        filter: grayscale(100%);
    }
    .name {
        font-weight: 700;
    }
}
